<div class="board-frame" id="boardFrame">
    <div id="myBoard"></div>
    <svg class="board-overlay" id="boardOverlay" viewBox="0 0 8 8" preserveAspectRatio="none">
        <defs>
            <marker id="ah-orange" viewBox="0 0 10 10" refX="6" refY="5" markerUnits="strokeWidth" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M0,0 L10,5 L0,10 z" fill="#ff9f0a"/>
            </marker>
            <marker id="ah-green" viewBox="0 0 10 10" refX="6" refY="5" markerUnits="strokeWidth" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M0,0 L10,5 L0,10 z" fill="#34c759"/>
            </marker>
            <marker id="ah-red" viewBox="0 0 10 10" refX="6" refY="5" markerUnits="strokeWidth" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M0,0 L10,5 L0,10 z" fill="#ff3b30"/>
            </marker>
            <marker id="ah-blue" viewBox="0 0 10 10" refX="6" refY="5" markerUnits="strokeWidth" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M0,0 L10,5 L0,10 z" fill="#0071e3"/>
            </marker>
        </defs>
    </svg>
</div>
